body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Computiing & Society */
header h1 {
    padding: 0 0 0 30px;
    font-weight: 500;
}
/* Navigation Bar */
nav{
    padding-bottom: 10px;
}
nav ol{
    display: inline;
}

nav ol li{
    display: inline-block;
    padding-right: 10px;
}
nav ol li a {
    text-decoration: none;
    color: rgb(146, 146, 146);
}

/* Main */
main{
    padding: 20px;
    width: 90%;
    margin-inline: auto;
}

/* All Months */
main div{
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin-inline: auto;
    margin-bottom: 20px;

    transition: all 1s;
}


/* Month Headers */
main div h3{
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 50px;
    color: white;
}

/* Day Headers */
main div h2{
    text-align: center;
    color:white;
    font-size: 30px;
}

/* List of Classes */
main div ol{
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
    padding-left: 0px;
}

/* Specific Class Items */
main div ol li{
    list-style: none;
}

/* Date mm.dd */
main div ol li h4{
    padding-left: 20px;
}

/* Lecture Subject */
main div ol li h5{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

/* Calender Square */
main div ol a{
    height: 200px;
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    text-decoration: none;
    color: black;

    transition: all 1s;
}

main div ol a:hover{
    transform: scale(1.1);
}


/* Specific Months */
#august{
    background-color: powderblue;
}
#august a{
    background-color: steelblue;
}
#september{
    background-color: salmon;
}
#september a{
    background-color: indianred;
}
#october{
    background-color: antiquewhite;
}
#october a{
    background-color: wheat;
}
#november{
    background-color: steelblue;
}
#november a{
    background-color: lightskyblue;
}
