header h1 {
    padding-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Viewable Screen*/
main {
    padding-left:200px;
    padding-right:200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
main h1 {
    text-align: center;
}

/* Navigation Bar */
nav ol{
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ol li{
    display: inline-block;
}
a {
    text-decoration: none;
    color: rgb(146, 146, 146);
}

/* Section's of Notes*/

div{
    padding: 10px;
    
    background-color: rgba(248, 248, 248, 0.89);
    border: 10px;
    
    border-style:solid;
    border-color:rgb(168, 205, 216);
    border-radius: 10px;    
}

/* Key Takeaways*/
.takeaways{
    background-color: rgb(189, 99, 99);
    color:rgba(248, 248, 248, 0.89);
}

/* Footer */
footer{
    padding: 50px;
}
footer .left{
    float: left;
}

footer .right{
    float: right;
}